body {
  background-color: #1976d2;
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: #fff;
}

button {
  background-color: white;
  font-family: "Oswald", sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  text-transform: uppercase;
  border: 2px solid black;
  border-radius: 4px;
  padding: 12px 44px 12px 44px;
  color: black;
  -webkit-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}

/* Start Page */
#start-page {
  max-width: 100%;
  max-height: 100%;
  margin-top: 6%;
}

#start-page > h1 {
  font-size: 3.3em;
  font-weight: 400;
  text-transform: uppercase;
}

#start-page > h2 {
  font-size: 1.25em;
  font-weight: 300;
  margin: 15px 0 20px 0;
}
