body {
  background-color: #f2e9de;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #fff;
}

.start-button {
  background: #8ecacc;
  color: white;
  border-radius: 5px;
  padding: 0.4rem 0.5rem;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
  cursor: pointer;
}

.start-button:hover {
  background-color: black;
  color: white;
}

#start-button {
  margin: 5%;
}

/* Start Page */
#start-page {
  max-width: 100%;
  max-height: 100%;
  margin-top: 20%;
  margin-bottom: 10%;
}

#start-page > h1 {
  font-size: 3.3em;
  font-weight: 400;
  text-transform: uppercase;
}

#start-page > h2 {
  font-size: 2em;
  font-weight: 400;
  margin: 15px 0 20px 0;
}

#main-paragraph {
  margin-bottom: 5%;
}
