
.box-container{
  display:flex;
  justify-content: space-around;
  padding: 100px;
}
.box-left{
  margin:auto;
  display: block;
  float: left;
  padding: 20px;
}
.box-right{
  margin: auto;
  float: right;
  padding: 20px;
}
.img-left{

  width: 400px;
  height: 400px;
  display:flex;
  vertical-align: middle;

}
.img-right-wrapper{
  display:table;

}
.img-right{
display: table-cell;
vertical-align: middle;
  width: 400px;
  height: 400px;
  }