.header {
  margin-top: 10%;
}

.header > h1 {
  font-size: 250%;
}

.header > h2 {
  font-size: 100%;
}

.header > h3 {
  font-size: 75%;
}

.box-container {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
.box-left {
  margin: auto;
  display: block;
  float: left;
  padding: 20px;
}
.box-right {
  margin: auto;
  float: right;
  padding: 20px;
}
.img-left {
  width: 400px;
  height: 400px;
  display: flex;
  vertical-align: middle;
}
.img-right-wrapper {
  display: table;
}
.img-right {
  display: table-cell;
  vertical-align: middle;
  width: 400px;
  height: 400px;
}

.back-drop {
  position: relative;
  z-index: 2;
}
.paper {
  position: relative;
  z-index: 1;
  width: 400px;
  height: 500px;
}

.paper1 {
  position: relative;
  z-index: 1;
}
