#camera-page {
  max-width: 500;
  max-height: 500;
  margin-top: 10%;
  font-family: "Nanum Gothic", sans-serif;
  text-align: center;
}

#camera-page > h1 {
  font-weight: 400;
  font-size: 4em;
  font-weight: 500;
}
