.paper {
}

.container {
  display: flex;
  justify-content: center;
}
#box-left {
  float: left;
}
#box-right {
  float: right;
}

.header {
  text-align: center;
  font-size: 300;
  margin-top: 10%;
  margin-bottom: 3%;
}
.box-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.box-left {
  display: block;
  float: left;
  padding: 20px;
}
.box-right {
  display: block;
  float: right;
  padding: 20px;
}
.img-right {
  width: 400px;
  height: 400px;
}
